# Ports
ACADEMIC_SERVICE_APP_PORT=5000
ACADEMIC_SERVICE_DB_PORT=5440

# Database credentials
ACADEMIC_SERVICE_DATABASE_PASSWORD=
ACADEMIC_SERVICE_DATABASE_USER=
ACADEMIC_SERVICE_DATABASE_DB=
ACADEMIC_SERVICE_DATABASE_HOST=
ACADEMIC_SERVICE_DATABASE_STRING_CONNECTION="Host=${ACADEMIC_SERVICE_DATABASE_HOST};Port=${ACADEMIC_SERVICE_DB_PORT};Database=${ACADEMIC_SERVICE_DATABASE_DB};Username=${ACADEMIC_SERVICE_DATABASE_USER};Password=${ACADEMIC_SERVICE_DATABASE_PASSWORD}"